<f:if condition="{validated}">
    <f:then>
        <h2><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.validated.title" /></h2>
        <p><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.validated" /></p>
    </f:then>
    <f:else>
        <f:if condition="{success}">
            <f:then>
                <h2><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.success.title" /></h2>
                <p><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.success" /></p>
            </f:then>
            <f:else>
                <h2><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.error.title" /></h2>
                <p><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:text.error" /></p>
            </f:else>
        </f:if>
    </f:else>
</f:if>
